# Copy to .env and keep the real bot token local.
DISCORD_BOT_TOKEN=
DISCORD_GUILD_NAME=EgaoShark Waifu Culture
DISCORD_CHANNEL_NAME=nsfw_perfect
DOWNLOAD_DIR=/home/kyz/Pictures/EgaoSharkWaifuCulture
